/* Your app styles here */
.pull-right {
  float: right !important;
}

.w-100 {
  width: 100%;
}

.m-t-8 {
  margin-top: 8px;
}

.p-t-8 {
  padding-top: 8px;
}

.p-t-5 {
  padding-top: 5px;
}

.blank-image {
  min-height: 300px !important;
}
